<a href="https://colab.research.google.com/github/Saxenaharsh12/Invoice-Extraction-bot/blob/main/pythonRevise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = 'Kumar'
print(name)

Kumar

In [ ]:

name = 'Kumar'
age = 20
subject = "Science"
print("my name is " , name ,"and my age is" , age)
print("i study " , subject)

my name is  Kumar and my age is 20
i study  Science

In [ ]:
# dictionary - in curley braces
result = {
    "Kumar": 90 ,
    "Bharat": 95 ,
    "Aman": 80
}
print(result)
 # print marks of kumar-
print(result["Kumar"])
print(result["Bharat"])

{'Kumar': 90, 'Bharat': 95, 'Aman': 80}
90
95

In [ ]:
bill = 11000
if(bill > 1000 and bill < 10000):
  print("final price is ", bill - bill*0.1)
elif(bill > 10000):
  print("final price is ", bill - bill*0.2)
else:
  print("final price is ", bill)

final price is  8800.0

In [36]:
num = 20
if(num%2==0):
    print("num is even")
else:
    print("num is odd")

num is even

In [45]:
num = 30
if(num%3==0 and num%5==0):
  print("num is mutiple of 3 and 5")

num is mutiple of 3 and 5

In [47]:
for i in range(11):
  if(i%2 == 0 ):

     print(i)

0
2
4
6
8
10

In [50]:
num = [10,15,30,20,25,45]
for i in num:
  if(i%2 != 0):
    print(i)

15
25
45

In [58]:
list = ["raj", 1 , 2 , 3 , "harsh"]
for i in list:
  if(type(i) == str):
   print(i)

raj
harsh

In [72]:

sum = 0
for i in range(11):
  sum += i
print(sum)

55

In [1]:
#print zodiac sign for below date
month = 'march'
day = 21
if(month == 'march' and day >= 21 or month == 'april' and day <= 19):
  print("aries")

aries